<a href="YOUR_URL_HERE" style="text-decoration: none; color: inherit;">
    <div class="grid-item">
        <img src="path_to_image" alt="Content Image">
        <div class="item-title">Movies</div>
    </div>
</a>
