/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #202020;
    color: white;
}

#menu-bar {
    display: flex;
    align-items: center;
    gap: 15px;
}

#menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25px;
    background: transparent;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
}

#logo {
    font-size: 1.5em;
    font-weight: bold;
}

#search-bar {
    display: flex;
    width: 40%;
}

#search-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: none;
    outline: none;
    color: #000;
}

#search-btn {
    padding: 8px 16px;
    background-color: #323232;
    color: white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

aside {
    width: 240px;
    background-color: #202020;
    height: 100vh;
    padding: 20px;
    position: fixed;
    overflow-y: auto;
}

aside ul {
    list-style: none;
}

aside ul li a {
    text-decoration: none;
    color: #aaa;
    display: block;
    padding: 10px;
    transition: color 0.3s;
}

aside ul li a:hover {
    color: #fff;
}

main#content {
    margin-left: 240px;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.grid-item {
    width: 320px;
    background-color: #202020;
    border-radius: 7px;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    display: block;
}

.item-title {
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #383838;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #202020;
}

/* Page Load Animation */
.page-load-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #181818; /* Same as body background for a seamless transition */
    z-index: 9999; /* High z-index to cover the entire screen */
    animation: fadeOutAnimation 3s ease forwards; /* Animation to fade out the overlay */
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden; /* Ensures the overlay doesn't block interaction after disappearing */
    }
}
