/* Loading animation */
@keyframes loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Styles for the loading spinner */
#loading-spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #ffffff;
    width: 40px;
    height: 40px;
    animation: loading 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -20px; /* Half of the height */
    margin-left: -20px; /* Half of the width */
    z-index: 9999; /* Ensure it appears on top of everything */
    display: none; /* Initially hidden */
}
