/* Styles for the sidebar */
#sidebar {
    width: 250px; /* Sets width */
    height: 100%; /* Sets height to 100% of the viewport */
    position: fixed; /* Fixes position */
    top: 0; /* Aligns to the top */
    left: 0; /* Aligns to the left */
    background-color: #2d2d2d; /* Sets background color */
    padding: 20px; /* Adds padding */
    box-sizing: border-box; /* Includes padding and border in the total width and height of the elements */
    overflow-y: auto; /* Adds vertical scroll if content overflows */
}

/* Styles for the heading within the sidebar */
#sidebar h3 {
    color: #ffffff; /* Sets text color */
}