/* Defines the font family and styles for the entire document */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0; /* Sets margin to 0 */
    padding: 0; /* Sets padding to 0 */
    background-color: #1e1e1e; /* Sets background color */
    color: #ffffff; /* Sets text color */
}

/* Styles for the main content area */
#content {
    margin-left: 250px; /* Creates space to accommodate the sidebar */
    padding: 20px; /* Adds padding */
}

/* Styles for buttons with class "source-button" */
.source-button {
    display: block; /* Displays as a block element */
    color: #ffffff; /* Sets text color */
    text-decoration: none; /* Removes underline */
    padding: 10px 15px; /* Adds padding */
    margin: 10px 0; /* Adds margin */
    border-radius: 5px; /* Adds border radius */
    background-color: #3d3d3d; /* Sets background color */
    transition: background-color 0.3s, transform 0.3s; /* Adds transition effects */
}

/* Hover styles for buttons with class "source-button" */
.source-button:hover {
    background-color: #4d4d4d; /* Changes background color on hover */
    transform: scale(1.1); /* Scales up on hover */
}

/* Styles for buttons with class "movie-button" */
.movie-button img {
    width: 20px; /* Set the width of the image */
    height: 20px; /* Set the height of the image */
    margin-right: 5px; /* Adds spacing between the icon and text */
}

/* Styles for buttons with class "movie-button" */
.movie-button {
    font-weight: bold; /* Sets font weight */
    display: block; /* Displays as a block element */
    color: #ffffff; /* Sets text color */
    text-decoration: none; /* Removes underline */
    padding: 10px 15px; /* Adds padding */
    margin: 10px 0; /* Adds margin */
    border-radius: 5px; /* Adds border radius */
    background-color: #3d3d3d; /* Sets background color */
    transition: background-color 0.3s, transform 0.3s; /* Adds transition effects */
}

/* Hover styles for buttons with class "movie-button" */
.movie-button:hover {
    background-color: #4d4d4d; /* Changes background color on hover */
    transform: scale(1.1); /* Scales up on hover */
}

/* Styles for anchor elements */
a {
    text-decoration: none; /* Removes underline */
}

/* Styles for center-aligned content within the sidebar */
#sidebar center {
    margin-bottom: 20px; /* Adds bottom margin */
}

/* Styles for center-aligned content within the main content area */
#content center {
    display: flex; /* Displays as flexbox */
    justify-content: center; /* Aligns content horizontally to center */
    align-items: center; /* Aligns content vertically to center */
    height: 100%; /* Sets height to 100% */
}

/* Styles for scrollbar in the sidebar */
#sidebar::-webkit-scrollbar {
    width: 8px; /* Sets width */
}

/* Styles for the thumb of the scrollbar in the sidebar */
#sidebar::-webkit-scrollbar-thumb {
    background-color: #4d4d4d; /* Sets background color */
    border-radius: 10px; /* Adds border radius */
}

/* Styles for the track of the scrollbar in the sidebar */
#sidebar::-webkit-scrollbar-track {
    background-color: #2d2d2d; /* Sets background color */
}

/* Styles for scrollbar in the main content area */
#content::-webkit-scrollbar {
    width: 8px; /* Sets width */
}

/* Styles for the thumb of the scrollbar in the main content area */
#content::-webkit-scrollbar-thumb {
    background-color: #4d4d4d; /* Sets background color */
    border-radius: 10px; /* Adds border radius */
}

/* Styles for the track of the scrollbar in the main content area */
#content::-webkit-scrollbar-track {
    background-color: #1e1e1e; /* Sets background color */
}

/* Styles for buttons with class "mainButton" */
.mainButton {
    display: block; /* Displays as a block element */
    color: #a200ff; /* Sets text color */
    font-weight: bold; /* Sets font weight */
    text-decoration: none; /* Removes underline */
    padding: 10px 15px; /* Adds padding */
    margin: 10px 0; /* Adds margin */
    border-radius: 5px; /* Adds border radius */
    background-color: #3d3d3d; /* Sets background color */
    transition: background-color 0.3s, transform 0.3s; /* Adds transition effects */
}

/* Hover styles for buttons with class "mainButton" */
.mainButton:hover {
    background-color: #4d4d4d; /* Changes background color on hover */
    transform: scale(1.1); /* Scales up on hover */
}

/* Styles for buttons with class "torrentButton" */
.torrentButton {
    display: block; /* Displays as a block element */
    color: #0062ff; /* Sets text color */
    font-weight: bold; /* Sets font weight */
    text-decoration: none; /* Removes underline */
    padding: 10px 15px; /* Adds padding */
    margin: 10px 0; /* Adds margin */
    border-radius: 5px; /* Adds border radius */
    background-color: #3d3d3d; /* Sets background color */
    transition: background-color 0.3s, transform 0.3s; /* Adds transition effects */
}

/* Hover styles for buttons with class "torrentButton" */
.torrentButton:hover {
    background-color: #4d4d4d; /* Changes background color on hover */
    transform: scale(1.1); /* Scales up on hover */
}

/* Styles for the title of torrents */
.torrentTitle {
    display: block; /* Displays as a block element */
    font-size: 1.17em; /* Sets font size */
    font-weight: bold; /* Sets font weight */
    color: #0062ff; /* Sets text color */
    text-align: center; /* Aligns text to center */
}

/* Styles for buttons with class "torrentButton" */
.romButton {
    display: block; /* Displays as a block element */
    color: #eaff00; /* Sets text color */
    font-weight: bold; /* Sets font weight */
    text-decoration: none; /* Removes underline */
    padding: 10px 15px; /* Adds padding */
    margin: 10px 0; /* Adds margin */
    border-radius: 5px; /* Adds border radius */
    background-color: #3d3d3d; /* Sets background color */
    transition: background-color 0.3s, transform 0.3s; /* Adds transition effects */
}

/* Hover styles for buttons with class "torrentButton" */
.romButton:hover {
    background-color: #4d4d4d; /* Changes background color on hover */
    transform: scale(1.1); /* Scales up on hover */
}
